<div id="news">
  {{#each doc}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{this.title}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <img class="img-responsive" src="{{this.image}}" alt="image" />
        </div>
        <div class="col-sm-8">
          <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <button class="btn btn-primary save-news" data-id="{{this.id}}">Save</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>