<div id="navbar">
  <a href="/"><button id="home-btn" class="btn btn-primary">News Bucket</button></a>
</div>
<div id="news">
  {{#each doc}}
  <ul>
    <li>{{this.title}}</li>
    <li><a href="{{this.link}}">{{this.link}}</a></li>
  </ul>
  <!-- Button trigger modal -->
  <button type="button" class="btn comment-btn" data-toggle="modal" data-target="#commentModal" data-id="{{this._id}}">Comment</button>
  <button class="delete-btn" data-id="{{this._id}}">X</button>{{/each}}
</div>
