<div id="news">
  {{#each doc}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{this.title}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <img class="img-responsive" src="{{this.image}}" alt="image" />
        </div>
        <div class="col-sm-7">
          <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        </div>
        <div class="col-sm-2 text-right">
          <button type="button" class="btn btn-info comment-btn" data-toggle="modal" data-target="#commentModal" data-id="{{this._id}}">Comment</button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-danger delete-news" data-id="{{this._id}}">Delete</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="comments">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="commentTitle"></h4>
      </div>
      <div class="modal-body form-group">
        <div id="prev-comments">
          {{!--previous comments inserted here--}}
        </div>
        <div>
          <textarea id="new-comment" rows="2"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save-comment" type="button" class="btn btn-primary" data-dismiss="modal" data-id="">Save</button>
      </div>
    </div>
  </div>
</div>